<div class="container">
<div class="section group" style="margin-top:10%;">
    <div class="col span_1_of_2">
      <div class="dropdown" >
        <button style="width:300px; background-color:#1b1818;" class="btn btn-secondary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a (click)="goToAddProductPromotion()">Add products to promotion</a>

        </button>
      </div>
    </div>
    <div class="col span_1_of_2">
      <div class="dropdown" >
        <button style="width:300px; background-color:#1b1818;" class="btn btn-secondary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a (click)="goToDeletePromotionFromProduct()">Delete promotion from products</a>
        </button>
      </div>
    </div>
</div>
</div>
