<div class="container" style="margin-top:5%;">
    <div class="card">
    	<div class="row">
    		<aside class="col-sm-5 border-right">
    <article class="gallery-wrap">
    <div class="img-big-wrap">
      <div> <a href="#"><img class="img-fluid" style="margin-top:25%;" [src]="serverPath + '/image/product/'+product.id+'.jpg'" /></a></div>
    </div>
    </article>
    		</aside>
    		<aside class="col-sm-7">
    <article class="card-body p-5">
      <h4><span *ngIf="addProductSuccess" style="color:forestgreen"><i class="fa fa-check" style="color:forestgreen"></i>Added to cart.</span></h4>
      <h4><span *ngIf="notEnoughStock" style="color:red">Oops, only <span>{{product.inStockNumber}}</span> In Stock.</span> </h4>
    	<h3 class="title mb-3">{{product.name}}</h3>

    <div *ngIf="isAtPromotion">
      <p class="price-detail-wrap">
        <span>
          <h4><span class="currency">Old Price: </span><span style="color:#FFD700;" class="strikediag withpadding">${{product.oldPrice}} </span></h4>
        </span>
      <span>
        <h4><span class="currency">Promotion price!: </span><span style="color:#FFD700;" >${{product.price}} </span></h4>
      </span>
      </p>
    </div>

    <div *ngIf="!isAtPromotion">
      <p class="price-detail-wrap">
        <span >
          <h4><span class="currency">Price: </span><span style="color:#FFD700; ">${{product.price}} </span></h4>
        </span>
      </p>
    </div>
    <dl class="item-property">
      <dt>Description</dt>
      <dd><p>{{product.description}}</p></dd>
    </dl>
    <dl class="param param-feature">
      <dt>Category</dt>
      <dd>{{product.type}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>Delivery</dt>
      <dd> USA and Europe</dd>
    </dl>

    <hr>
    	<div class="row">
    		<div class="col-sm-5">
    			<dl class="param param-inline">
    			  <dt>Quantity: </dt>
    			  <dd>
    			  	<select  [(ngModel)]="qty" class="form-control form-control-sm" style="width:70px;" required="required">
                <option *ngFor="let x of numberList" [ngValue]="x">{{x}}</option>
    			  	</select>
    			  </dd>
    			</dl>
    		</div>
    		<div class="col-sm-7">
    			<dl class="param param-inline">
              <br />
                <h4 *ngIf="product.inStockNumber>9" style="color:green;">In Stock</h4>
                <h4 *ngIf="product.inStockNumber<10 && product.inStockNumber>0" style="color:green;">Only <span>{{product.inStockNumber}}</span> In Stock</h4>
                <h4 *ngIf="product.inStockNumber==0" style="color:darkred;">Out of stock</h4>
    			</dl>
    		</div>
    	</div>
    	<hr>
    	<button mat-raised-button  style="background-color:#1b1818; width:35%;" *ngIf="product.inStockNumber > 0" (click)="addToCart()" class="mat-primary">Add to Cart</button>
      <button mat-raised-button  style="background-color:#1b1818; width:35%;" *ngIf="product.inStockNumber==0" (click)="addToCart()" class="mat-primary">Unavaible</button>
      <div style="margin-left:40%; color:forestgreen;">
          <span *ngIf="added">Product added succesfully</span>
      </div>
      <div style="margin-left:40%;">
        <span class="text-danger align-middle">
            <i *ngIf="tooBig" class="fa fa-close">Quantity is bigger than avaible products in stock number.</i>
            <i *ngIf="productMinQuantity" class="fa fa-close">Minimum quantity is 1</i>
        </span>
      </div>
    </article>
    		</aside>
    	</div>
    </div>
