<div class="container" style="margin-top: 5%;">
	<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
	<div class="table-responsive">
		<table id="bookListTable" class="table bordered highlight" style="text-align:center;">
			<thead style="background-color:#1b1818; color:#fff;text-align:center;" >
				<tr>
					<th>
						<input type="checkbox" (change)="updateSelected($event.target.checked)" />
					</th>
					<th>ID</th>
					<th>Name</th>
					<th>Percentage reduction</th>
          <th>View</th>
          <th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let promotion of promotions">
					<td>
						<input hidden="hidden" name="id" />
						<input type="checkbox" [checked]="allChecked" (change)="removePromotionLists($event.target.checked, promotion)" />
					</td>
					<td>{{promotion.id}}</td>
					<td>{{promotion.promotionName}}</td>
          <td>{{promotion.percentageReduction}}%</td>
          <td>
            <input hidden="hidden" name="id" />
            <button mat-button (click)="viewPromotion(promotion)" value="submit">View</button>
          </td>
          <td>
            <input hidden="hidden" name="id" />
            <button mat-button (click)="removePromotion(promotion)" value="delete"><span class="fa fa-times"></span> Delete</button>
          </td>
				</tr>
			</tbody>
		</table>
	</div>
  <br />
	<a style="color:#fff; margin-left:70%;" mat-raised-button class="mat-warn" routerLink="/admin">Back</a>
	<button style="color:#fff; margin-left:5%; background-color:#1b1818;" mat-raised-button id="deleteSelected" (click)="removeSelected()">Delete Selected</button>
</div>
